__pycache__/
*.py[cod]
*$py.class

.env
.env.*
!.env.example

.venv/
venv/
env/

*.log
server.out.log
server.err.log

database/*.db
database/*.sqlite

app/static/uploads/**
!app/static/uploads/
!app/static/uploads/audio/
!app/static/uploads/audio/.gitkeep
!app/static/uploads/pdf/
!app/static/uploads/pdf/.gitkeep

app/static/audio/**
!app/static/audio/
!app/static/audio/.gitkeep

app/static/pdf/**
!app/static/pdf/
!app/static/pdf/.gitkeep
